


body{
	background: linear-gradient(45deg,rgb(76,0,255),transparent),rgb(216,118,255);
}
.content{
	
	display: inline-block;
	height: 0px;
	width: 100px;
	border: 2px solid;
	color: black;
}
.box{
	text-align: center;
}
.list li{
	color: orange;
font-size: 20px;
line-height: 30px;
}
.list a{
	color: red;
}
.number li{
	list-style-type: square ;
	font-style: italic;
}
.number ol{
	font-size: 30px;
}
.list li a:hover{
	color: pink;
	}
.right{

	float: right;
}
.chapter{
display: flex;
justify-content: space-between;
font-weight: bold;
}